// change-name-form.module.scss
.change_name_form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease-in-out;
  background-color: #fff;
  border-radius: 5px;
  padding: 4rem;
  width: 100%;
  max-width: 60rem;
  z-index: 100;


  .InputGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 3rem;

    label {
      font-size: 1.4rem;
      text-transform: uppercase;
      color: var(--color-black-text);
      margin-bottom: .5rem;
    }

    input {
      padding: 1.2rem 1.2rem;
      color: var(--color-gray-444);
      border: 1px solid var(--color-dashboard-border);
      border-radius: 3px;
      width: 100%;
      box-shadow: inset 0 0 4px rgba(0, 0,0 , 0.16);
    }
  }

  button[type="submit"] {
    background-color: #0070f3;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #0052cc;
    }

    &:active{
      transform: scale(0.95);
      box-shadow: inset 0 0 5px rgba(0, 0, 0 ,0.16);
    }
  }
}

:global(.ARABIC){
  // change-name-form.module.scss
  .change_name_form {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    transition: transform 0.2s ease-in-out;
    background-color: #fff;
    border-radius: 5px;
    padding: 4rem;
    width: 100%;
    max-width: 60rem;
    z-index: 100;


    .InputGroup {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin-bottom: 3rem;

      label {
        display: block;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: var(--color-black-text);
        margin-bottom: 1rem;
      }

      input {
        padding: 1.2rem 1.2rem;
        color: var(--color-gray-444);
        border: 1px solid var(--color-dashboard-border);
        border-radius: 3px;
        width: 100%;
        box-shadow: inset 0 0 4px rgba(0, 0,0 , 0.16);
      }
    }

    button[type="submit"] {
      display: block;
      background-image: linear-gradient(to right, #000000, #A71523);
      border: none;
      border-radius: 3px;
      font-family: var(--font-almarai);
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      padding: 10px;
      transition: all 0.2s ease-in-out;
      margin-right: auto;

      &:active{
        transform: scale(0.95);
        box-shadow: inset 0 0 5px rgba(0, 0, 0 ,0.16);
      }
    }
  }
}