.Main {
  position: relative;
  min-height: 100vh;
  background-image: url("../../public/images/Auth/dl.beatsnoop.com-3000-H6LQJm7ZRo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  //CONTENT CONTAINER
  .Content {
    padding: 2rem 3rem;
    width: 100%;
    background-color: var(--color-white-background);
    min-height: 100vh;
    clip-path: polygon(0 0, 45% 0, 65% 100%, 0% 100%);

    @media screen and (max-width: 1250px) {
      clip-path: polygon(0 0, 65% 0, 85% 100%, 0% 100%);
    }
    @media screen and (max-width: 900px) {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    @media screen and (max-width: 450px) {
      padding: 2rem 1rem;
    }
  }

  // HOME BACK BUTTON
  .Home_Button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 6rem;
    height: 6rem;
    background-color: var(--color-white-background);
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid var(--color-gray-444);
    transition: transform .15s ease-in-out;

    img {
      pointer-events: none;
    }

    &:active {
      transform: scale(0.95);
      box-shadow: inset 0 0 .4rem rgba(0, 0, 0, 0.16);
    }
  }

  // Container of text and form
  .Container {
    padding-left: 2rem;
    margin-top: 3rem;
    @media screen and (max-width: 450px) {
      padding-left: 0;
    }

    &_Text {
      font-family: var(--font-freehouse);

      h1 {
        font-size: 5rem;
        @media screen and (max-width: 500px) {
          font-size: 3rem;
        }
      }

      p {
        font-size: 3rem;
        margin-bottom: 2.5rem;
        @media screen and (max-width: 500px) {
          font-size: 2.2rem;
        }
      }
    }
  }

  // FORM
  .Form {
    width: 100%;
    max-width: 60rem;
    margin-top: 8rem;
    overflow: hidden;

    .Heading_2 {
      display: inline-block;
      font-family: var(--font-freehouse);
      font-size: 1.6rem;
      margin-bottom: 4rem;
      background: linear-gradient(270deg, #A71523, #000000);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .Resend_Code {
      display: block;
      padding: 1rem 1.5rem;
      border: 1px solid #efefef;
      box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.16);
      background-color: var(--color-white-background);
      margin-bottom: 1.5rem;
      transition: all 0.2s ease-in-out;

      &:active {
        box-shadow: inset 0 0 0.4rem rgba(0, 0, 0, 0.16);
        transform: scale(0.95);
      }
    }

    .Input_Container {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .Input_Group {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      label {
        font-size: 1.4rem;
        color: var(--color-black-text);
        margin-bottom: 1rem;
        font-family: var(--font-montserrat);
        @media screen and (max-width: 500px) {
          font-size: 1.3rem;
        }
      }

      input {
        font-family: var(--font-roboto);
        font-size: 1.5rem;
        padding: 1.2rem 1.5rem;
        width: 100%;
        border: 1px solid var(--color-input-border);
        caret-color: var(--color-gray-333);
        color: var(--color-gray-333);
      }
    }

    .Links {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      @media screen and (max-width: 430px) {
        margin-right: auto;
      }
    }

    &_buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 430px) {
        gap: 1rem;
      }

      a {
        text-decoration: none;
        color: var(--color-main);
      }

      .Buttons_Container {
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      .Create_button {
        height: 6rem;
        padding: 1rem .5rem 1rem 2rem;
        width: 14rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10rem;
        background-color: var(--color-white-background);
        border: 1px solid var(--color-input-border);
        cursor: pointer;

        span:has(img) {
          padding: 1rem;
          border-radius: 50%;
          width: 5rem;
          height: 5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: auto;
          border: 1px solid var(--color-input-border);
          transition: trabnsform .2s ease-in-out;
        }

        &:hover {
          span:has(img) {
            animation: rotateIt infinite 1s linear;
          }
        }

        &:active {
          span:has(img) {
            box-shadow: inset 0 0 .3rem rgba(0, 0, 0, 0.16);
            transform: scale(.95);
          }
        }

        &.Un_Active {
          display: none;
        }
      }

      .Google_button {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-color: var(--color-white-background);
        border: 1px solid var(--color-input-border);
        transition: trabnsform .2s ease-in-out;
        cursor: pointer;

        &:active {
          box-shadow: inset 0 0 .3rem rgba(0, 0, 0, 0.16);
          transform: scale(.95);
        }
      }
    }
  }
}


//Animations
@keyframes rotateIt {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}