.MainGrid {
    display: grid;
    grid-template-rows: 10rem 1fr;
    grid-auto-columns: 1fr 35rem;
    min-height: 100vh;

    .PageContainer {
        // GRID PART
        grid-column: 1 / 2;
        grid-row: 2 / 3;

        padding: 2rem;
    }
    //
    //&.Aside_Mini {
    //    grid-auto-columns: 1fr 8rem;
    //}
}